<svg width="0" height="0">
  <defs>
    <clipPath id="svgPath">
      <!-- <path id="e3mVYwcRFQ" fill="#FFFFFF" d="M326.7,790h-653c-1.9,0-3.5-2.3-3.5-5V335c0-2.8,1.6-5,3.5-5h653c1.9,0,3.5,2.3,3.5,5V785C330.2,787.7,328.6,790,326.7,790z"/>
      <rect x="340" y="330" fill="#FFFFFF" width="30" height="460"/>
      <mask id="maskbnmAZYFha" x="38.91" y="3.51" width="1123.49" height="548.07" maskUnits="userSpaceOnUse">
        <rect x="38.91" y="3.51" width="1123.49" height="548.07" fill="white"></rect>
        <use xlink:href="#e3mVYwcRFQ" opacity="1" fill="black"></use>
      </mask> -->
      <path
        d="M1131.26 3.51C1148.44 3.51 1162.36 17.43 1162.37 34.61C1162.37 137.99 1162.4 417.02 1162.4 520.39C1162.41 537.57 1148.48 551.5 1131.3 551.5C912.83 551.51 288.52 551.56 70.05 551.58C52.88 551.58 38.95 537.66 38.95 520.48C38.94 417.1 38.92 138.08 38.91 34.7C38.91 17.52 52.83 3.6 70.01 3.59C288.48 3.58 912.79 3.53 1131.26 3.51Z"
        id="e3mVYwcRFQ"></path>
      <mask id="maskbnmAZYFha" x="38.91" y="3.51" width="1123.49" height="548.07" maskUnits="userSpaceOnUse">
        <rect x="38.91" y="3.51" width="1123.49" height="548.07" fill="white"></rect>
        <use xlink:href="#e3mVYwcRFQ" opacity="1" fill="black"></use>
      </mask>
      <path d="M1169 0.1L1199 0L1200.97 548L1170.97 548.1L1169 0.1Z" id="akdeuocT"></path>
    </clipPath>
  </defs>
</svg>

<main class="main-menu">

  <!-- start menu section -->
  <div #modal class="modal">
    <div #modal_dialog class="modal-dialog">
      <div #modal_content class="modal-content">

        <div #modal_header class="modal-header">
          <ng-container *ngTemplateOutlet="Header"></ng-container>
        </div>

        <div class="modal-body">
          <div class="custom-content">
            <div #modal_body class="modal-body-inner">
              <div #overlay_inner class="modal-overlay hidden"></div>
              <div class="custom-content-body">
                <div #menu_banner class="block w-full">
                  <div class="w-full rounded-b-lg px-0"> 
                    <img class="w-full h-40 lg:h-56 object-cover object-center" src="https://source.unsplash.com/5Gte2_TlS_A/500x150" alt="ProductImage" srcset="">
                  </div>
                </div>
                <ng-container *ngTemplateOutlet="Body"></ng-container>
              </div>
            </div>
          </div>
        </div>

        <div #modal_foooter class="_md_footer absolute bottom-0 w-full z-10">
          <ng-container *ngTemplateOutlet="Footer"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- end menu section -->
</main>

<ng-template #Header>
  <div class="nabvar">
    <div class="px-3">
      <h1 [translate]="'HOME.txtCompanyName'" class="text-gray-800 text-sm font-bold"></h1>
    </div>
    <div class="flex flex-row text-gray-600">
      <a [routerLink]="['/menu']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)" class="border-l-1 border-gray-500 py-1 px-3">
        <fa-icon icon="book"></fa-icon>
      </a>
      <!-- <a [routerLink]="['/info']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)" class="border-l-1 border-gray-500 py-1 px-3">
        <fa-icon icon="info-circle"></fa-icon>
      </a> -->
      <a [routerLink]="['/shopcart']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)" class="border-l-1 border-gray-500 rounded-tr-lg py-1 px-3">
        <ng-container *ngIf="serviceShopCart.GetAny; else shopcartWithoutCounter">
          <fa-layers [fixedWidth]="true">
            <fa-icon icon="shopping-cart"></fa-icon>
            <fa-layers-counter [content]="serviceShopCart.GetCount" [classes]="['text-3xl']"></fa-layers-counter>
          </fa-layers>
        </ng-container>
        <ng-template #shopcartWithoutCounter>
          <fa-icon icon="shopping-cart"></fa-icon>
        </ng-template>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #Body>
  <div class="block w-full">
    <div class="w-full rounded-b-lg px-3 lg:px-5">
      <div *ngIf="(CategoryWithProducts | async) as ProductByCategory; else elseTemplate">
        <app-menu-category [Menus]="ProductByCategory" [Overlay]="overlayInner" [ParentContainer]="modalBody"></app-menu-category>
      </div>
      <ng-template #elseTemplate>
        <div class="initial-load-animation"><div class="loading-bar">
            <div class="blue-bar"></div>
          </div>
        </div>
        <!-- <div class="h-64 my-20 text-center"><fa-icon icon="spinner" [spin]="true" size="7x" [class]="'text-gray-400'"></fa-icon></div> -->
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #Footer></ng-template>
