<main class="main-menu w-full max-h-screen flex align-middle">
  <!-- <a [routerLink]="['/']" class="absolute right-0 m-3 text-white"><i class="fas fa-times"></i></a> -->

  <!-- start shopcart section -->
  <div #modal class="modal">
    <div #modal_dialog class="modal-dialog">
      <div #modal_content class="modal-content">

        <div #modal_header class="modal-header">
          <ng-container *ngTemplateOutlet="Header"></ng-container>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> -->
        </div>

        <div #modal_body class="modal-body">
          <div class="custom-content">
            <div class="modal-body-inner">
              <div #overlay_inner class="modal-overlay hidden"></div>
              <div class="custom-content-body">
                <ng-container *ngTemplateOutlet="Body"></ng-container>
              </div>
            </div>
          </div>
        </div>

        <div #modal_foooter class="modal-footer">
          <ng-container *ngTemplateOutlet="Footer"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- end shopcart section -->
</main>

<ng-template #Header>
  <div class="nabvar">
    <div class="px-3">
      <h1 [translate]="'HOME.txtCompanyName'" class="text-gray-800 text-sm font-bold"></h1>
    </div>
    <div class="flex flex-row text-gray-600">
      <a [routerLink]="['/menu']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)" class="border-l-1 border-gray-500 py-1 px-3"> <!-- #f1eff1 -->
        <fa-icon icon="book"></fa-icon>
      </a>
      <!-- <a [routerLink]="['/info']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)"
        class="border-l-1 border-gray-500 py-1 px-3">
        <fa-icon icon="info-circle"></fa-icon>
      </a> -->
      <a [routerLink]="['/shopcart']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="bg-gray-100 bg-opacity-50 text-gray-700" href="javascript:void(0)" class="border-l-1 border-gray-500 rounded-tr-lg py-1 px-3">
          <ng-container *ngIf="serviceShopCart.GetAny; else shopcartWithoutCounter">
            <fa-layers [fixedWidth]="true">
              <fa-icon icon="shopping-cart"></fa-icon>
              <fa-layers-counter [content]="serviceShopCart.GetCount" [classes]="['text-3xl']"></fa-layers-counter>
            </fa-layers>
          </ng-container>
          <ng-template #shopcartWithoutCounter>
            <fa-icon icon="shopping-cart"></fa-icon>
          </ng-template>
      </a>
    </div>
  </div>
</ng-template>

<ng-template #Body>
  <div class="w-full mx-auto flex flex-col space-y-2 mt-12 mb-32 pr-4 lg:text-sm">

    <div class="w-full flex flex-col space-y-4 lg:flex-row lg:space-x-4">
      <div class="w-full lg:w-1/2">
        <app-payment-gateway (stepCompleteRequest)="formPaymentGatewayUpdate($event)"></app-payment-gateway>
      </div>

      <div class="w-full lg:w-1/2">
        <table aria-label="tb-summary-order" aria-describedby="tb-summary-order" class="table-auto">
          <caption></caption>
          <thead class="">
            <tr class="text-gray-700 border border-gray-400">
              <th scope="col" class="bg-gray-200 w-1/12 text-center border-t border-gray-300 rounded-tl-sm p-2" style="background-color: #f3f2f3;">Qty</th>
              <th scope="col" class="bg-gray-200 w-10/12 text-left border-t border-gray-300 p-2" style="background-color: #f3f2f3;">Item</th>
              <th scope="col" class="bg-gray-200 w-1/12 text-center border-t border-gray-300 rounded-tr-sm p-2" style="background-color: #f3f2f3;">Price</th>
            </tr>
          </thead>
          <tbody class="bg-white products border border-gray-400 overflow-y-auto">
            <ng-container *ngFor="let item of shopcart.Items;"><!-- trackBy:item.i -->
              <tr class="product_item">
                <th scope="row" class="product_detail py-1 pl-2 pr-5" [innerText]="item.Quantity + 'pz'"></th>
                <td class="py-1 pl-2 pr-5" [innerText]="item.Data.name"></td>
                <td class="py-1 pl-2 pr-5 text-right" [innerText]="(item.Price * item.Quantity) | currency"></td>
                <!-- <button (click)="onClickRemove(item.Id)" value="ij"><fa-icon icon="trash" size="xs"></fa-icon></button> -->
                <!-- <fa-icon icon="trash" size="xs" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon>[pulse]="true" -->
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="invoice bg-white border border-gray-400">
            <tr>
              <td colspan="2" class="py-1 px-2"><small>Sub-Total</small></td>
              <td class="py-1 px-2 text-right"><small [innerText]="shopcart.getTotal | currency">$0 MXN</small></td>              
            </tr>
            <!--
            <tr>
              <td colspan="2" class="py-1 px-2"><small>Sales Tax (7%):</small></td>
              <td class="py-1 px-2 text-right"><small>$5.23 MXN</small></td>              
            </tr>
            -->
            <tr class="font-semibold">
              <td colspan="1" class="py-1 px-2">Total:</td>
              <td colspan="2" class="py-1 px-2 text-right" [innerText]="shopcart.getTotal | currency">$0 MXN</td>
            </tr>
          </tfoot>
        </table>
        <div id="tb-summary-order"></div>
      </div>
    </div>

    <div class="w-full flex flex-row space-x-4">
      <div class="w-full">
        <p>Comentarios (Opcional) {{ formPaymentGatewayValid }}</p>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #Footer>
  <div class="flex flex-col justify-center space-y-2 content-center items-center shadow-t-md p-2 lg:flex-row lg:space-x-4 lg:py-4">
    <div class="w-full text-gray-600 lg:w-1/2">
      <p class="leading-none"><small class="text-2xs lg:text-xs" [translate]="'SHOPCART.FOOTER.txtLegend'"></small></p>
    </div>
    <div class="w-full text-white lg:w-1/2">
      <button #btnPaymentOrder (click)="onSubmitOrder($event)" [disabled]="!formPaymentGatewayValid" [ngClass]="{'disabled': !formPaymentGatewayValid}" class="btn-order-now divide-x divide-gray-400 pulsex">
        <div class="w-2/5 flex flex-col space-y-2 justify-start items-start content-start text-left px-5">
          <p class="text-xs">TOTAL</p>
          <p class="text-xs sm:text-sm" [innerText]="shopcart.getTotal | currency">$0 MXN</p>
        </div>
        <div class="w-3/5">
          <p class="sm:text-sm" [translate]="'SHOPCART.FOOTER.btnOrderNow'"></p>
          <!-- Placing your order... -->
        </div>
      </button>
    </div>
  </div>
</ng-template>
