$bg-color: #faf9fa;

:host {
  background-color: $bg-color;
  & > div,
  & .popper_footer {
    background-color: $bg-color;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

#arrow {
  width: 2.5rem;
  height: 0;
  z-index: -1;

  &::before {
    content: "";
    transform: rotate(45deg);
    background: $bg-color;
    border: .05rem solid #e2e8f0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    z-index: -1;
  }
}

:host([data-popper-placement^="top"] > #arrow) {
  bottom: -4px;
}

:host([data-popper-placement^="bottom"] > #arrow) {
  top: -4px;
}

:host([data-popper-placement^="left"] > #arrow) {
  right: -4px;
}

:host([data-popper-placement^="left"] .popper_close ) {
  left: 0;
}

:host([data-popper-placement^="right"] > #arrow) {
  left: -4px;
}

:host([data-popper-placement^="right"] .popper_close ) {
  right: 0;
}


.width-popper {
  max-width: 38vw;
  @media (min-width: 1024px) {
    @apply max-w-sm;
  }
}


[class*="overflow-y"] {
  // clip-path: circle(65% at 50% 50%);
  // clip-path: inset(0% 0% 0% 0% round 10px);
  // clip-path: polygon(6% 0, 94% 0%, 100% 6%, 100% 94%, 94% 100%, 6% 100%, 0 88%, 0 10%);
  // clip-path: url(#svgPath);
  // height: 80vh;

  &.scroll-padding {
    scroll-padding: 1rem;
  }

  &.scroll-mandatory {
    scroll-snap-type: y mandatory;
  }

  &.scroll-proximity {
    scroll-snap-type: y proximity;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow-y: auto;
    background-color: #e2e8f0;
  }

  &::-webkit-scrollbar-button {
    height: 0px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 9999px;
    border: solid white;
    border-width: 0 4px 0 4px;

    :hover {
      // background: #b3b3b3;
      background: #555;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    :active {
      background-color: #999999;
    }
  }

  &::-webkit-scrollbar-track {
    border: 6px solid white;
    // border color does not support transparent on scrollbar
    // border-color: transparent;
    background-color: #e2e8f0;

    :hover,
    :active {
      background: #d4d4d4;
    }
  }
}
