<div class="container sm:px-10">
  <div class="block xl:grid grid-cols-2 gap-4">
    <div class="hidden xl:flex flex-col min-h-screen">
      <a href="" class="-intro-x flex items-center pt-5">
        <img alt="Midone Tailwind HTML Admin Template" src="/assets/images/logo-min.png" class="logo w-24">
        <span class="text-white text-lg ml-3"> Restaurant <span class="font-medium">Manhattan</span></span>
      </a>
      <div class="my-auto"><img alt="Midone Tailwind HTML Admin Template"
          src="/assets/images/site/login/illustration-login-page.svg" class="-intro-x w-1/2 -mt-16">
        <div innerHtml="{{ 'LOGIN.txtH2' | translate }}"
          class="-intro-x text-white font-medium text-4xl leading-tight mt-10"></div>
        <div [translate]="'LOGIN.txtH3'" class="-intro-x mt-5 text-lg text-white dark:text-gray-500"></div>
      </div>
    </div>
    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
      <div
        class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
        <h2 [translate]="'LOGIN.txtH1'" class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"></h2>
        <div [translate]="'LOGIN.txtH2+H3'" class="intro-x mt-2 text-gray-500 xl:hidden text-center"></div>

        <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()" class="mt-10" novalidate>
          <formly-form [form]="formLogin" [fields]="fieldsLogin" [options]="optionsLogin" [model]="modelLogin"></formly-form>

          <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
            <button [translate]="'LOGIN.FORM.btnLogin'" [disabled]="!formLogin.valid" type="submit" class="button button--lg w-full xl:w-32 text-white bg-theme-1 bg-blue-800 xl:mr-3 align-top">
              <span *ngIf="loading" class="fas fa-circle-notch fa-spin mr-1"></span>
              Login
            </button>
            <button class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 dark:border-dark-5 dark:text-gray-300 mt-3 xl:mt-0 align-top">Sign up </button>
          </div>
          <div class="intro-x mt-10 xl:mt-24 text-gray-700 dark:text-gray-600 text-center xl:text-left">
            By signin up, you agree to our <br> 
            <a href="" class="text-theme-1 dark:text-theme-10">Terms and Conditions</a> &amp; 
            <a href="" class="text-theme-1 dark:text-theme-10">Privacy Policy</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>