<!-- <div class="bg-white w-full flex flex-col divide-y divide-gray-300 border border-gray-300 rounded-sm"> -->
<div class="divide-y divide-gray-300 ">
    <!-- #region Contact -->
    <div class="pg-step-contact">
        <div class="pg-header">
            <div class="w-1/12 text-gray-500">
                <fa-icon icon="user" [title]="modelContact | json"></fa-icon>
            </div>
            <div class="w-10/12 space-y-2">
                <p class="font-semibold uppercase" [translate]="'SHOPCART.STEPS.txtStep1'"></p>
                <!-- 'info' | 'info-circle' | 'info-square' |  -->
            </div>
            <div class="w-1/12 text-gray-500">
                <button [ngClass]="{'text-white bg-gray-600': !getCurrentStep(1)}" (click)="onClickChangeStep(1)"
                    class="btn-option-step">
                    <fa-icon [icon]="(getCurrentStep(1) ? 'pencil-alt' : 'edit')"></fa-icon>
                </button>
            </div>
        </div>
        <div class="pg-body w-full">
            <div [hidden]="!(contactComplete && getCurrentStep(1))" class="pg-data-confirmed w-10/12 mx-auto">
                <p class="leading-none">
                    <small [innerText]="modelContact.firstname + ' ' + modelContact.lastname"></small><br>
                    <small [innerText]="modelContact.email"></small><br>
                    <small [innerText]="modelContact.cellphone"></small>
                </p>
            </div>

            <div [hidden]="!(CurrentStep == 1)" class="pg-data-rectify w-full pt-1">
                <form [formGroup]="formContact" (ngSubmit)="onSubmitContact()" autocomplete="off" novalidate> 
                    <formly-form [form]="formContact" [fields]="fieldsContact" [options]="optionsContact" [model]="modelContact"></formly-form>
                    <button [translate]="'SHOPCART.FORMS.btnSave'" [disabled]="!formContact.valid" type="submit"
                        class="btn-default">Guardar</button>
                </form>
            </div>
            <!-- {{ modelContact | json }} -->
        </div>
        <!-- {{ formContact.valid }} -->
    </div>
    <!-- #endregion -->

    <!-- #region Ordering Method-->
    <div class="pg-step-ordering-method">
        <div class="pg-header">
            <div class="w-1/12 text-gray-500">
                <fa-icon icon="truck" [title]="modelOrdering | json"></fa-icon>
            </div>
            <div class="w-10/12 space-y-2">
                <p class="font-semibold uppercase" [translate]="'SHOPCART.STEPS.txtStep2'"></p>
            </div>
            <div class="w-1/12 text-gray-500">
                <button [ngClass]="{'text-white bg-gray-600': !getCurrentStep(2)}" (click)="onClickChangeStep(2)"
                    class="btn-option-step">
                    <fa-icon [icon]="(getCurrentStep(2) ? 'pencil-alt' : 'edit')"></fa-icon>
                </button>
            </div>
        </div>
        <div class="pg-body w-full">
            <div [hidden]="!(orderingComplete && getCurrentStep(2))" class="pg-data-confirmed w-10/12 mx-auto">
                <p class="leading-none">
                    <small [innerText]="modelOrdering.PlaceName"></small>
                </p>
            </div>
            <small [innerText]="mapboxHighAccuracy"></small> |
            <small [innerText]="mapboxTrackUserLocate"></small> |
            <small [innerText]="mapboxShowUserLocate"></small>
            <div [hidden]="!(CurrentStep == 2)" class="pg-data-rectify w-full pt-1">
                <form novalidate autocomplete="off" [formGroup]="formOrdering" (ngSubmit)="onSubmitOrdering()">
                    <formly-form [form]="formOrdering" [fields]="fieldsOrdering" [options]="optionsOrdering" [model]="modelOrdering"></formly-form>
                    <mgl-map #mapbox
                        [style]="'mapbox://styles/mapbox/streets-v9'"
                        [locale]="'es'"
                        [maxZoom]="15" 
                        [minZoom]="10" 
                        [zoom]="[12]" 
                        [center]="mapboxCenter" 
                        [maxBounds]="mapboxBounds"
                        (mapLoad)="mapboxOnLoad($event)"
                        (sourceData)="mapbboxSourceData($event)"
                        (sourceDataLoading)="mapbboxSourceDataLoading($event)"
                        (move)="mapboxOnMove($event)"
                        (moveEnd)="mapboxOnMoveEnd($event)"
                        (mapMouseDown)="mapbixOnMouseDown($event)"
                        (mapDragStart)="mapboxOnDragStart($event)"
                        (mapDragEnd)="mapbixOnMouseEnd($event)">
                        <mgl-control #geocoder mglGeocoder
                            placeholder="Busca lugares en Cancún..."
                            countries="MX"
                            position="top-left"
                            types="place,address,postcode"
                            language="es"
                            [limit]="2"
                            [bbox]="mapboxBounds"
                            [marker]="false"
                            (geocoderResult)="mapboxOnGeocoderResult($event)"
                            (geocoderResults)="mapboxOnGeocoderResults($event)"
                            (geocoderError)="mapboxOnGeocoderError($event)"></mgl-control>
                        <!-- 
                            [lngLat]="[-66.324462890625, -16.024695711685304]" 
                        -->
                        <mgl-marker #marker
                            [lngLat]="mapboxMarkerCenter"
                            (markerDrag)="markerDragEnd($event)">
                        <!-- 
                            <div (click)="alert('Foo')" class="marker">Hello</div> 
                        -->
                          </mgl-marker>
                        <mgl-control #geolocate mglGeolocate 
                            [positionOptions]="{ enableHighAccuracy: mapboxHighAccuracy }"
                            [fitBoundsOptions]="{ padding: mapboxBounds }"
                            [trackUserLocation]="mapboxTrackUserLocate"
                            [showUserLocation]="mapboxShowUserLocate"
                            (geolocate)="mapboxOnGeolocate($event)"></mgl-control>
                        <mgl-control mglNavigation position="top-left"></mgl-control>
                    </mgl-map>
                    <!-- <div id="mapBoxGL" class="mb-5"></div> -->
                    <!-- [leafletLayersControl]="leafletLayerControls" -->
                    <!--
                        <div leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers" (leafletMapReady)="onLeafletMapReady($event)" class="h-40 mb-5"></div>
                        <leaflet-locate-control [map]="mapLeflet" [options]="locateOptions" (location$)="onNewLocation($event)"></leaflet-locate-control> 
                    -->
                    <button [translate]="'SHOPCART.FORMS.btnSave'" [disabled]="!formOrdering.valid" type="submit"
                        class="btn-default">Guardar</button>
                </form>
            </div>
        </div>
        <!-- {{ formOrdering.valid }} -->
    </div>
    <!-- #endregion -->

    <!-- #region Clock -->
    <div class="pg-step-time">
        <div class="pg-header">
            <div class="w-1/12 text-gray-500">
                <fa-icon icon="clock" [title]="modelTime | json"></fa-icon>
            </div>
            <div class="w-10/12 space-y-2">
                <p class="font-semibold uppercase" [translate]="'SHOPCART.STEPS.txtStep3'"></p>
            </div>
            <div class="w-1/12 text-gray-500">
                <button [ngClass]="{'text-white bg-gray-600': !getCurrentStep(3)}" (click)="onClickChangeStep(3)"
                    class="btn-option-step">
                    <fa-icon [icon]="(getCurrentStep(3) ? 'pencil-alt' : 'edit')"></fa-icon>
                </button>
            </div>
        </div>
        <div class="pg-body w-full">
            <div [hidden]="!(timeComplete && getCurrentStep(3))" class="pg-data-confirmed w-10/12 mx-auto">
                <p class="leading-none">
                    <ng-container *ngIf="modelTime.Method == 2; else elseBodyClock">
                        <small>
                            <strong [translate]="'SHOPCART.FORMS.Step3.txtDate'"></strong>: <span
                                [innerText]="modelTime.Date | date:'longDate' | uppercase"></span>
                            &nbsp;
                            <strong [translate]="'SHOPCART.FORMS.Step3.txtSchedule'"></strong>: <span
                                [innerText]="modelTime.ScheduleFormat | date:'h:mm a' | uppercase"></span>
                        </small>
                    </ng-container>
                    <ng-template #elseBodyClock>
                        <small [translate]="'SHOPCART.FORMS.Step3.txtNow'"></small>
                    </ng-template>
                </p>
            </div>
            <div [hidden]="!(CurrentStep == 3)" class="pg-data-rectify w-full pt-1">
                <form novalidate autocomplete="off" [formGroup]="formTime" (ngSubmit)="onSubmitTime()">
                    <formly-form [form]="formTime" [fields]="fieldsTime" [options]="optionsTime" [model]="modelTime"></formly-form>
                    <button [translate]="'SHOPCART.FORMS.btnSave'" [disabled]="!formTime.valid" type="submit" class="btn-default">Guardar</button>
                </form>
            </div>
        </div>
        <!-- {{ formTime.valid }} -->
        <!-- {{ modelTime | json }} -->
    </div>
    <!-- #endregion -->

    <!-- #region Payment Method -->
    <div class="pg-step-payment">
        <div class="pg-header">
            <div class="w-1/12 text-gray-500">
                <fa-icon icon="credit-card" [title]="modelPayment | json"></fa-icon>
            </div>
            <div class="w-10/12 space-y-2">
                <p class="font-semibold uppercase" [translate]="'SHOPCART.STEPS.txtStep4'"></p>
            </div>
            <div class="w-1/12 text-gray-500">
                <button [ngClass]="{'text-white bg-gray-600': !getCurrentStep(4)}" (click)="onClickChangeStep(4)" class="btn-option-step">
                    <fa-icon [icon]="(getCurrentStep(4) ? 'pencil-alt' : 'edit')"></fa-icon>
                </button>
            </div>
        </div>
        <div class="pg-body w-full">
            <div [hidden]="!(paymentComplete && getCurrentStep(4))" class="pg-data-confirmed w-10/12 mx-auto">
                <p class="leading-none">
                    <small>Credit Card</small><br>
                    <small>Ending in 1111 (Expire on 12/23)</small>
                </p>
            </div>
            <div [hidden]="!(CurrentStep == 4)" class="pg-data-rectify w-full pt-1">
                <form novalidate id="payment-form" autocomplete="off" [formGroup]="formPayment"
                    (ngSubmit)="onSubmitPayment()">
                    <formly-form [form]="formPayment" [fields]="fieldsPayment" [options]="optionsPayment" [model]="modelPayment">
                        <!-- <span>Card</span> -->
                    </formly-form>

                    <nav id="payment-methods" class="visiblex">
                        <ul>
                            <li class="visible">
                                <input type="radio" name="payment" id="payment-card" value="card" checked>
                                <label for="payment-card">Card</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-ach_credit_transfer"
                                    value="ach_credit_transfer" checked>
                                <label for="payment-ach_credit_transfer">Bank Transfer</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-alipay" value="alipay">
                                <label for="payment-alipay">Alipay</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-bancontact" value="bancontact">
                                <label for="payment-bancontact">Bancontact</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-eps" value="eps">
                                <label for="payment-eps">EPS</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-ideal" value="ideal">
                                <label for="payment-ideal">iDEAL</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-giropay" value="giropay">
                                <label for="payment-giropay">Giropay</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-multibanco" value="multibanco">
                                <label for="payment-multibanco">Multibanco</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-p24" value="p24">
                                <label for="payment-p24">Przelewy24</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-sepa_debit" value="sepa_debit">
                                <label for="payment-sepa_debit">SEPA Direct Debit</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-sofort" value="sofort">
                                <label for="payment-sofort">SOFORT</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-wechat" value="wechat">
                                <label for="payment-wechat">WeChat Pay</label>
                            </li>
                            <li>
                                <input type="radio" name="payment" id="payment-au_becs_debit" value="au_becs_debit">
                                <label for="payment-au_becs_debit">BECS Direct Debit</label>
                            </li>
                        </ul>
                    </nav>

                    <div class="payment-info card" [ngClass]="{'visible': modelPayment.Method == 1}">
                        <!-- <input formControlName="amount" /> -->
                        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"
                            (change)="onChangeStripe($event)"></ngx-stripe-card>
                    </div>

                    <div class="payment-info sepa_debit">
                        <fieldset>
                            <legend></legend>
                            <label>
                                <span>IBAN</span>
                                <div id="iban-element" class="field"></div>
                            </label>
                        </fieldset>
                        <p class="notice">By providing your IBAN and confirming this payment, you’re authorizing
                            Payments Demo and Stripe, our payment
                            provider, to send instructions to your bank to debit your account. You’re entitled to a
                            refund under the terms
                            and conditions of your agreement with your bank.</p>
                    </div>
                    <div class="payment-info ideal">
                        <fieldset>
                            <legend></legend>
                            <label>
                                <span>iDEAL Bank</span>
                                <div id="ideal-bank-element" class="field"></div>
                            </label>
                        </fieldset>
                    </div>
                    <div class="payment-info redirect">
                        <p class="notice">You’ll be redirected to the banking site to complete your payment.</p>
                    </div>
                    <div class="payment-info receiver">
                        <p class="notice">Payment information will be provided after you place the order.</p>
                    </div>
                    <div class="payment-info wechat">
                        <div id="wechat-qrcode"></div>
                        <p class="notice">Click the button below to generate a QR code for WeChat.</p>
                    </div>
                    <div class="payment-info au_becs_debit">
                        <fieldset>
                            <legend></legend>
                            <label>
                                <span>Bank Account</span>
                                <div id="becs-bank-element" class="field"></div>
                            </label>
                        </fieldset>
                        <p class="notice">By providing your bank account details and confirming this payment, you agree
                            to this Direct Debit Request and
                            the Direct Debit Request service agreement, and authorise Stripe Payments Australia Pty Ltd
                            ACN 160 180 343 Direct Debit User ID
                            number 507156 (“Stripe”) to debit your account through the Bulk Electronic Clearing System
                            (BECS) on behalf of Stripe Payments Demo
                            (the “Merchant”) for any amounts separately communicated to you by the Merchant. You certify
                            that you are either an account
                            holder or an authorised signatory on the account listed above.</p>
                    </div>

                    <!-- <button [translate]="'SHOPCART.FORMS.btnSave'" [disabled]="!formPayment.valid" type="submit"
                        class="btn-default">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay</span>
                    </button> -->

                    <!-- <p id="card-error" role="alert"></p>
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p> -->

                    <div #cardErrors class="element-errors"></div>
                    <div #ibanErrors class="element-errors"></div>

                    <legend class="flex-row text-xs text-gray-700 hidden">
                        <legend></legend>
                        <div class="">
                            Payment succeeds <br>
                            Payment requires authentication <br>
                            Payment is decline
                        </div>

                        <div class="">
                            4242 4242 4242 4242 <br>
                            4000 0025 0000 3155 <br>
                            4000 0000 0000 9995
                        </div>
                    </legend>
                </form>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</div>