.cat_item_row {

  &.scroll-start {
    scroll-snap-align: start;
  }

  &.scroll-center {
    scroll-snap-align: center;
  }

  &.scroll-end {
    scroll-snap-align: end;
  }

  &.scroll-revert {
    scroll-snap-align: revert;
  }

  &.scroll-unset {
    scroll-snap-align: unset;
  }

  &.scroll-inherit {
    scroll-snap-align: inherit;
  }

  &.scroll-initial {
    scroll-snap-align: initial;
  }

  &.scroll-none {
    scroll-snap-align: none;
  }

}
